<div >
    <h2 style="margin-top:5%;">Welcome to Magazine Selling Corp. Please click a link below to get selling!</h2>

    <div style="margin-top:5%;">
        @Html.ActionLink("Sell To Existing Customer", "Index", "Customers")<br />
    </div>
    <div>
        @Html.ActionLink("Sell To New Customer", "Create", "Customers")<br />
    </div>
</div>